/* Sortable tables */
table.sortable thead {
    background-color:#eee;
    color:#666666;
    font-weight: bold;
    cursor: default;
}

/*
table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after { 
    content: " \25B4\25BE" 
}
*/

/* 
table.sortable tbody tr:nth-child(2n) td {
    background: #ffcccc;
}
*/

/* 
table.sortable tbody tr:nth-child(2n+1) td {
    background: #ccffff;
}
*/

/* League */

league > div > div > div > table > tbody tr:nth-child(1) td {
    color: red !important;
}
league > div > div > div > table > tbody tr:nth-child(2) td {
    color: blue !important;
}
league > div > div > div > table > tbody tr:nth-child(3) td {
    color: green !important;
}
league > div > div > div > table > tbody tr:nth-child(4) td {
    color: black !important;
}